<div class="container">
  <div class="card border-primary mb-3 mt-4">
    <div class="card-header text-primary">
      <h4> <%= @user.name %> </h4>
    </div>
    <div class="card-body">
      <div class="card-body">

        <div class="row mb-4">
          <div class="col-lg-3"> email </div>
          <div class="col-lg-9"> <%= @user.email %> </div>
        </div>

        <div class="row mb-2">
          <div class="col-lg-3"> Discord ID </div>
          <div class="col-lg-9">
            <% if @user.discord? %>

              <%= @user.discord_id %>
            <% else %>
              <%= link_to "Lier mon compte Discord", discord_verify_path,:class => "nav-link btn btn-success text-black btn-sm" %>
            <% end %>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-3"> Discord UserName </div>
          <div class="col-lg-9"> <%= @user.discord_username %> </div>
        </div>

        <div class="row mb-4">
          <div class="col-lg-3"> Statut </div>
          <div class="col-lg-9"> <%= @user.status %> : <%= @user.mood %> </div>
        </div>

        <div class="row mb-4">
          <div class="col-lg-3"> Visible ? </div>
          <div class="col-lg-9"> <%= if @user.visible; "Oui" else "Non"; end %> </div>
          </div>

        </div>

      </div>
    </div>
    <%= link_to "Modifier mes informations", edit_user_registration_path,:class => "nav-link btn btn-primary text-black btn-sm" %>

  </div>
