<nav class="navbar navbar-expand bg-light">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>"> The Hacking Bot </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
      aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class => "nav-link btn btn-secondary text-white  btn-sm mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mon compte", profile_path,:class => "nav-link btn btn-outline-primary text-black btn-sm" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, :class => "nav-link btn btn-outline-primary btn-sm mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "S'inscrire'", new_user_registration_path, :class => "nav-link btn btn-outline-success btn-sm" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
